<tr>
  <td><%= service_category.name %></td>
  <td>
    <%= link_to t('general.edit'), edit_admin_service_category_path(service_category) %>
    <%= link_to t('general.delete'), [:admin, service_category], :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>
