<div class="dashboard">
  <div class="pageHead">
    <h2>Quizzes</h2>
  </div>
  <%- if @quizzes.empty? -%>
    <p><%= t('quiz.no_quizzes') %></p>
  <%- else -%>
    <%- form_for [:my, @quiz_result] do |f| -%>
      <fieldset>
        <%= f.label :quiz_id, t('quiz_result.quiz') %>
        <%= f.select :quiz_id, options_for_quiz_select(@quizzes) %> <br/>
      </fieldset>

      <%= f.submit t('quiz_result.next') %>
    <%- end -%>
  <%- end -%>
</div>