/* Basic Layout */
body {
  font-size: 84%;
  background: #F3F3F3;
}
.content, .shadow, .footer {
  width: 954px;
}
.content {
  margin: 0 auto;
}

/* Type Styles */
a {
  color: #A83C44;
}
a:hover {
  text-decoration: none;
}
.description {
  font-size: 1.1em;
  margin-top: 0.5em;
  text-align: center;
}
.narrow .description {
  text-align: left;
  color: #666;
}
dl {
  margin: 1em 0;
}
dt {
  font-weight: normal;
  margin: 0.5em 0;
  padding-top: 1em;
}
dt:first-child {
  padding-top: 0;
}
dd {
  margin: 0 0 0 0.5em;
}
dd.date {
  margin-bottom: 1em;
  color: #666;
}
.panel h3 {
  font: 0.8em Lucida Grande, Verdana, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #CACACA;
  padding-bottom: 8px;
  margin-top: 2em;
}
.providerHead .sidebar ul.links {
  border-bottom: none;
}
.providerHead img {
  margin: 0 2px 0 0;
}
.providerHead img.avatar {
  height: 100px;
  width: 100px;
  padding: 1px;
  border: 1px solid #DDD;
  float: left;
  margin: 20px 20px 10px 0;
}
.providerHead p {
  margin: 5px 0 8px;
}
.providerHead p img:last-child {
  margin-right: 6px;
}
.rate {
  color: #999;
}
.companyInfo  ul {
  margin-bottom: 40px;
}
.companyInfo li {
  color: #666;
  padding-left: 20px;
  margin-bottom: 10px;
}
.companyInfo strong {
  font-weight: normal;
  color: #333;
}

/* Header */
.header {
  padding: 20px 0 12px;
  margin-bottom: 10px;
  background: #2F3738 url(/images/sprite-layout.png) repeat-x;
  height: 48px;
}
.header h1 a {
  padding: 30px 0 0;
}
.header h1 img {
  margin: 0 0 5px;
}
.header a, .header a:hover {
  border:none;
}
.globalNav {
  margin-top: 0.3em;
}
.globalNav a {
  padding: 0.2em 1em 0.3em;
}
.globalNav a:hover {
  text-decoration: none;
  background: #595F60;
}
li.username {
  margin-right: 1em;
}
/* Content Page */
.panel, .dashboard {
  background: #FFF;
  padding: 0 30px 30px;
  margin: 0 -50px;
  border: 1px solid #E4E4E4;
}
.panel h2 {
  text-align: left;
}
.panel h2.name {
  font: 2em Lucida Grande, Verdana, sans-serif;
}
.shadow {
  padding: 0px;
  margin: 0 auto;
}
.subnav {
  background: #DDD;
  margin: 0 auto;
  padding: 10px 0;
  margin: -10px 0;
  min-height: 2.3em;
}
.subnav h2 {
  font: 1em Lucida Grande, Verdana, sans-serif;
  float: left;
  margin: 1.2em 0 0 40px;
}
.subnav ul {
  padding: 15px 20px;
  text-align: right;
}
.subnav a {
  color: #333;
  border: none;
  padding: 5px 10px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
.subnav a:hover {
  color: #000;
}
.navigation ul {
  margin: 0 10px;
  background: url(/images/sprite-layout.png) repeat-x 0 -81px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}
.navigation ul li {
  display: inline;
}
.main {
  margin: auto;
  padding: 0 50px 40px;
}
.welcome {
  background: url(/images/sprite-graphics.png) no-repeat 0px 20px;
  font-size: 1.1em;
  margin: 3em 0;
  padding: 0 40px 0 160px;
}
.welcome img {
  float: left;
  margin: 0 30px 0 50px;
}
.welcome h1 {
  color: #B22022;
  font-size: 2.4em;
  line-height: 1.1em;
  padding-top: 0.2em;
  margin-bottom: 0.5em;
}
.welcome p {
  font-size: 1.1em;
  line-height: 1.3em;
}
/* Home Search Wizard */
.searchWizard {
  background: #FFF;
  padding: 20px;
  margin: 0 -40px;
  border: 10px solid #9EDBF7;
}
.searchWizard h3 {
  font: 1.35em Lucida Grande, Verdana, sans-serif;
  margin: 0;
  padding: 0 0 5px;
  color: #007BC8;
  border-bottom: 1px solid #007BC8;
}
.provider h3 {
  font-size: 1.7em;
  color: #333;
  padding-top: 1em;
}
.provider a {
  font-size: 1.2em;
  font-weight: normal;
  color: #2F3738;
  display: block;
  background: url(/images/btn-lg.png) no-repeat center;
  width: 204px;
  margin: 0 auto;
  padding: 1.1em 0 1.3em;
  border: none;
}
.provider a:hover {
  text-decoration: none;
  border: none;
}
.provider.search {
  padding: 0;
}
.provider.search h3 {
  font-size: 1.3em;
  text-align: left;
  color: #069;
  border-bottom: 1px solid #069;
  padding-bottom: 6;
  padding-top: 0;
  margin-bottom: 1.2em;
}
.provider.search h4 {
  font-size: 0.9em;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #DDD;
  border-bottom: none;
  margin: 0;
}
.provider.search table h4 {
  font-size: 1em;
  display: block;
  padding: 0;
  border: none;
  color: #000;
}
.provider.search form {
  text-align: left;
}
.provider.search label {
  color: #000;
  width: auto;
  margin: 0;
  display: inline;
}
.provider.search p, .provider.search ul, .provider.search li {
  margin-left: 0;
  margin-bottom: 0.2em;
}
.provider.search ul {
}
.provider.search li {
  display: block;
  margin-right: 2%;
  min-height: 20px;
  white-space: nowrap;
}
li .check {
  position: relative;
  top: -2px;
  margin: 0 0.3em -5px 0;
}
.provider.search li input {
  margin-top: 0;
}
.provider.search li label {
  color: #666;
}
.provider.search input[type="submit"] {
  font-size: 1.2em;
  font-weight: normal;
  display: block;
  padding: 0 0 4px;
  margin: 1em auto 0;
  background:  url(/images/sprite-graphics.png) no-repeat 0px -150px;
  color: #FFF;
  border: none;
  width: 274px;
  height: 42px;
  text-shadow: 1px 1px 1px #666;
}
.provider.search table {
  margin: 0;
}
.provider.search table.filters {
  border-top: 1px solid #DBDBDB;
}
.provider.search table.filters td {
  padding-top: 1.5em;
}
.provider.search table td:hover, .provider.search table tr:hover {
  background: none;
}
.provider.search form td {
  border: none;
  padding: 0 0 20px 10px;
}
.provider.search form td:first-child {
  padding-left: 0;
}
.provider.search input[type="text"] {
  display: inline;
  margin-left: 0;
  margin-top: 0.5em;
  width: 15em;
}
.provider.search input[type="text"]:focus {
  background: #FFF;
}
.provider.search form select {
  min-width: 14em;
}

/* Search Filter */
.panel #search-form {
  background: #DDF2FC;
  margin: 0 -30px 30px;
  padding: 30px;
  border: 2px solid #FFF;
}
.panel #search-form fieldset {
  font-size: 0.9em;
  padding: 0;
  border: none;
}
.panel #search-form h3 {
  margin-top: 0;
  padding: 0;
  font-size: 1em;
  color: #666;
  border-bottom: none;
}

/* Content Elements */
.links {
  margin: 2em 0 0 0;
}
.links li {
  display: block;
  margin: 0em;
}
.links li.request {
  float: right;
  margin: 0.4em 0 0 10px;
}
.narrow {
  float: left;
  width: 510px;
}
.box {
  width: 640px;
  background: #FFF;
  border: 10px solid #9EDBF7;
  padding: 30px;
  margin-left: -50px;
}
.block {
  clear: both;
  margin-top: 1.5em;
  padding-top: 1.5em;
}
.block:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
.block h3 {
  margin-top: 6px;
}
.block h4 {
  margin-top: 0em;
}
.block address {
  margin-bottom: 1em;
}
.services li {
  list-style: inside url(/images/img-bullet.png);
}
.column {
  width: 45%;
  padding-right: 5%;
  float: left;
}
.sidebar {
  width: 300px;
  float: right;
}
.sidebar h3 {
  padding-top: 0;
  margin-bottom: -1px;
  border-bottom: 1px solid #CACACA;
}
.sidebar a {
  font-size: 0.95em;
}
.sidebar ul {
  border-bottom: 1px solid #CCC;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}
.actions li {
  padding-left: 1.7em;
  margin: 0.5em 0;
}
li.requestRFP {
  padding-left: 0;
  font-weight: bold;
}
li.email {
  background: url(/images/icon-email.png) no-repeat left center;
}
li.address {
  background: url(/images/icon-contact.png) no-repeat left center;
}
li.calendar {
  background: url(/images/icon-cal.png) no-repeat left center;
}
li.download {
  background: url(/images/icon-download.png) no-repeat left center;
}
li.document {
  background: url(/images/icon-document.png) no-repeat left center;
}
.favorites {
  width: 840px;
  margin: 0 auto 60px;
}
.favorites h3 {
  background: url(/images/sprite-graphics.png) no-repeat 0 -713px;
  padding: 0 0 0 16px;
  margin: 0 0 8px;
  border: none;
}
.favorites ul {
  border: 1px solid #DDD;
  background: #FCFCFC;
  padding: 0;
}
.favorites li {
  background: #FFF;
  padding: 10px;
  width: 220px;
  display: inline-block;
  border-right: 1px solid #DDD;
  font-size: 0.8em;
}
.favorites h4 {
  color: #333;
  margin: 5px 0 0;
}
.favorites img {
  float: left;
  margin-right: 10px;
}
.favorites p {
  color: #666;
  margin-bottom: 0;
}
.favorite {
  background: url(/images/sprite-graphics.png) no-repeat 0 -754px;
  padding-left: 16px;
}
/* Dashboard */
.dashboard h3 {
  border-bottom: 2px solid #DDD;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}
.dashboard .utility {
  font: 1.05em Georgia, Times New Roman, serif;
}
.utility {
  color: #666;
  float: right;
  margin: -3.7em 0 0;
}
.utility li {
  float: left;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #CCC;
}
.utility li:first-child {
  border-left: none;
}
.pageHead {
  background: #F9F4E2;
  padding: 20px 30px 0;
  margin: 2px -28px 40px;
  height: 40px;
}
.pageHead h2 {
  font: 1.2em Lucida Grande, Verdana, sans-serif;
  color: #666;
  float: left;
  text-align: left;
  margin: 0px 0 0;
}
.pageHead .button {
  float: right;
  margin: -5px 0 0;
}
.pageHead h2 strong {
  color: #333;
  font-weight: normal;
}
.pageHead ul {
  float: right;
  margin-top: -20px;
}
.pageHead li {
  display: inline-block;
}
.pageHead li {
  padding: 19px 20px 21px;
  color: #999;
  font-size: 1.2em;
  background: #F3E9C8;
}
.pageHead .timestamp {
  margin-top: 0px;
}
ul.testList {
  padding: 0;
  border-bottom: none;
}
ul.testList li {
  border: 1px solid #DDD;
  margin-bottom: -1px;
  padding: 5px 10px;
}

/* Request Page */
.request .narrow {
  width: 632px;
  padding-right: 28px;
  margin-right: -1px;
  border-right: 1px solid #CCC;
}
.request .sidebar {
  width: 204px;
  padding-left: 27px;
  margin-left: -1px;
  border-left: 1px solid #CCC;
}
.request .block {
  border: none;
  margin-top: 0;
  padding-top: 2em;
}
.request .block:first-child {
  padding-top: 0;
}
.request h3 {
  font: bold 1em Lucida Grande, Verdana, sans-serif;
  color: #999;
  margin: 0 0 0 0;
  padding: 0.5em 0 0.2em;
  border-bottom: 1px solid #CCC;
}
.request h4 {
  margin-top: 1em;
}
.sidebar .edit_request input {
  background: url(/images/icon-delete.png) no-repeat left center;
  padding: 0 0 0 1.5em;;
  border: none;
  color: #008C98;
  font-weight: normal;
  margin: 0;
}

/* Footer */
.footer {
  height: 5em;
  line-height: 1em;
  margin: 0 auto 2em;
}
.footer .content {
  width: 940px;
  padding-top: 1.5em;
  border-top: 1px solid #C9CfD0;
}
.footer a {
  color: #A83C44;
  border-bottom: 1px dotted #A83C44;
}
.footer a:hover {
  color: #A83C44;
  border: none;
}
.footer ul {
  height: 1.5em;
}
.footer ul li {
  float: left;
}
.footer .nav {
  float: left;
}
.footer .nav li {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #666;
}
.footer .nav li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}
.footer .attribution {
  float: right;
}
.footer .attribution img {
  float: none;
  margin: -1em 0 -0.7em;
}
.footer .attribution a {
  color: #91020C;
  border-bottom: 1px solid #91020C;
}
/* Table Styles */
table {
  font-size: 0.9em;
  border-collapse: separate;
}
thead th {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #9B9B9B;
  padding: 0 0 8px;
}
tbody th {
  background: #F5FAFF none;
  text-transform: capitalize;
  padding: 10px 0 8px;
  border-top: 1px solid #EDEDED;
}
td {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #CACACA;
}
.listTable {
  margin-bottom: 20px;
}
.listTable td {
  font-size: 0.9em;
  padding: 15px 15px 15px 0;
  vertical-align: bottom;
  height: 39px;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}
.listTable td a {
  font-size: 1.3em;
  line-height: 1.4em;
}
.listTable a.favorite {
  font-size: 1em;
  float: right;
}
.listTable td:first-child {
  width: 40px;
  padding-left: 15px;
}
.services td {
  border-bottom: none;
}
.ui-datepicker td:first-child {
  min-width: 0;
}
td input, td input[type="checkbox"] {
  margin: 0;
}
.requests td:first-child {
  padding-left: 25px;
}
.unread td:first-child {
  background: url(/images/icon-unread.png) no-repeat 6px center;
}
.endorsements td:first-child, .endorsements th:first-child {
  min-width: 1em;
}
.endorsements a {
  white-space: nowrap;
}
.allEndorsements {
  margin-top: 2em;
}
.allEndorsements p {
  font-size: 1.1em;
  margin-bottom: 1em;
}
.allEndorsements blockquote {
  margin-bottom: 1em;
}
.allEndorsements cite {
  padding-left: 0;
}

/* Form Wizard */
.wizard {
  text-align: center;
  margin: 0;
}
.wizard li {
  font: 1.5em Georgia, Times New Roman, serif;
  display: inline-block;
  padding: 10px 0 10px 50px;
  margin-left: 2.6em;
}
.wizard li:first-child {
  margin-left: 0;
}
.wizard .step1 {
  background: url(/images/img-wizard-s1.png) no-repeat left center;
}
.wizard .step2 {
  background: url(/images/img-wizard-s2.png) no-repeat left center;
}
.wizard .step3 {
  background: url(/images/img-wizard-s3.png) no-repeat left center;
}

/* Form Styles */
input[type="submit"] {
  font-size: 1em;
  font-weight: normal;
  color: #333;
  background: #EBECEE;
  padding: 8px 20px;
	border: 1px solid #BCBCBC;
	margin-right: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input[type="submit"].callout {
  font-size: 1.2em;
  color: #FFF;
  text-shadow: 1px 1px 1px #666;
  background: #858585 url(/images/sprite-layout.png) repeat-x 0 -190px;
  border: 1px solid #00ADFF;
  padding: 8px 80px;
}
input[type="submit"]:hover, button:hover {
  cursor: pointer;
}
form p {
  margin-top: 1em;
  margin-bottom: 1em;
}
form table, form table td {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
textarea { 
  width: 30em;
  height: 10em;
}
textarea#code_sample_code {
  font: 11px/16px Monaco, Courier, mono;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}
.sidebar input {
  margin-left: 0;
}
.box .info {
  font-size: 0.9em;
  position: absolute;
  margin-left: 680px;
  width: 300px;
  padding: 20px;
  background: #E8E8E8;
}
.info h5 {
 font: 1em Lucida Grande, Verdana, sans-serif;
 margin-bottom: 0.4em;
}
.info p {
  color: #666;
  margin: 0;
}
.info p + p {
  margin-top: 8em;
}

/* Homepage Form */
.provider form p, .provider form ul, .provider form p, .provider form li, .provider form input {
  margin-left: 1em;
}

/* Reusable Elements */
hr {
  border: none;
  border-top: 1px solid #999;
  margin: 2em -20px;
}
.note {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #999;
}
.timestamp {
  font: 1.1em Georgia, Times New Roman, serif;
  color: #666;
  float: right;
  margin-top: -1.2em;
}
.charCount {
  background: #FFC;
  color: #030;
  padding: 4px 10px;
  line-height: 2em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.hidden {
  display: none;
}
.note {
  font-size: 0.9em;
  color: #666;
}
#tooltip {
  font-size: 0.8em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
.widget {
  border: 1px solid #DDD;
  padding: 15px;
  margin-bottom: 3em;
}
.widget p {
  margin: 0;
  float: left;
  width: 50%;
}
.widget p.score {
  float: right;
  width: 30%;
  text-align: right;
  text-transform: uppercase;
}
.widget .score strong {
  font-size: 2.25em;
  font-weight: normal;
}
.widget .label {
  font-size: 0.8em;
  color: #666;
}
.availability {
  border: 1px solid #DDD;
  border-collapse: collapse;
}
.availability th {
  color: #369;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}
.availability td, .availability th {
  border: 1px solid #DDD;
  padding: 10px;
  text-align: center;
  min-width: 33.33%;
  vertical-align: middle;
}
.code pre, .codeReview {
  font-size: 12px;
  overflow: auto;
  height: 500px;
  width: 500px;
  background: #333;
  color: #EEE;
  padding: 6px;
}
.codeReview, .codeReview:focus {
  padding: 0 0 0 5px;
  border: 1px solid #999;
  color: #EEE;
}

/* Three Column Styles */
.threeColumn {
  clear: both;
  padding-top: 0;
  margin: 0 -40px;
}
.threeColumn .col1, .threeColumn .col2, .threeColumn .col3 {
  width: 31%;
  float: left;
  margin-right: 3.5%;
}
.threeColumn .col3 {
  margin-right: 0;
}
.threeColumn h3 {
  text-align: center;
  font: 1.4em Georgia, Times New Roman, serif;
  margin-bottom: 0.75em;
}

/* Feature Developer Block */
.feature {
  margin-bottom: 1em;
  border: 1px solid #949494;
  background: #F2FAFE;
}
.feature .content {
  padding: 10px 10px 10px 20px;
  width: auto;
  letter-spacing: -0.5px;
}
.feature img {
  max-width: 34px;
  max-height: 34px;
  float: left;
  margin: -5px 0.5em 0 0;
}
.feature h4 {
  font-size: 1.3em;
  color: #000;
  padding: 10px 0 0;
  margin: 0 0 0.8em;
}
.feature p {
  margin: 1em 0 0 0;
}

/* Feature Developer Grid */
.featuredevtitle {
}
.featuredevs {
  border: 1px solid #949494;
  background: #CCC;
  padding: 10px;
  margin: 0 -40px;
}
.featuredevs .content {
  width: auto;
  background: #FFF;
  padding: 40px;
}
.featuredevs table {
  border-collapse: collapse;
  margin: 0;
}
.featuredevs table td {
  width: 275px;
  border: 1px solid #DDD;
  padding: 30px;
}
.featuredevs table tr:first-child td {
  border-top: 0;
  padding-top: 10px;
}
.featuredevs table tr:last-child td {
  border-bottom: 0;
  padding-bottom: 10px;
}
.featuredevs table td:first-child { 
  border-left: none;
  padding-left: 0;
}
.featuredevs table td:last-child {
  border-right: none;
  padding-right: 0;
}
.featuredevs img {
  padding: 1px;
  margin-right: 15px;
  border: 1px solid #B6B9BA;
  float: left;
}
.featuredevs h4 {
  color: #930;
  font-size: 1.2em;
  margin-top: 0;
}
.featuredevs ul {
  margin: 10px 0 0 100px;
  font-size: 0.9em;
}
.featuredevs li {
  padding: 0px 0 3px 20px;
  margin-top: 5px;
  display: list-item;
}
.location {
  background: url(/images/sprite-graphics.png) no-repeat 0px -266px; 
}
.travel {
  background: url(/images/sprite-graphics.png) no-repeat 0px -311px;
}
.language {
  background: url(/images/sprite-graphics.png) no-repeat 0px -356px;
}
.companyInfo .language {
  background: url(/images/sprite-graphics.png) no-repeat 0px -447px;
}
.schedule {
  background: url(/images/sprite-graphics.png) no-repeat 0px -402px;
}
.payment {
  background:  url(/images/sprite-graphics.png) no-repeat 0 -494px;
}

.notice {
  margin: -10px -50px -1px;
  padding: 15px 30px;
  border: 1px solid #E4E4E4;
}

.provider.search ul.location { width: 100px;}
.provider.search ul.location li { float: none; }
.provider.search form td:first-child ul.location label { display: inline; cursor: pointer;}
.provider.search form td:first-child ul.location li ul li { margin-left: 1em;}


/* Badges */
.badge {height: 50px; width: 210px; margin-bottom: 1em;}
.rdd1 {background: url(/images/featured-rdd-1.png) no-repeat center;}
.rdd2 {background: url(/images/featured-rdd-2.png) no-repeat center;}
.rdd3 {background: url(/images/featured-rdd-3.png) no-repeat center;}
.rdd4 {background: url(/images/featured-rdd-4.png) no-repeat center;}
.rdd5 {background: url(/images/featured-rdd-reverse-1.png) no-repeat center;}
.rdd6 {background: url(/images/featured-rdd-reverse-2.png) no-repeat center;}

/* PollDaddy Resets */
.PDS_Poll label {text-align: left; width: auto; padding: 0; margin: 0; clear: none;}
.PDS_Poll br {clear: none; width: auto;}
.PDS_Poll input {margin: inherit;}

/* Sorting Endorsements */
div#sorting-endorsements { /*display:none;*/ }
div#sorting-endorsements ul li strong { cursor: move; }