body {
  font-family: Lucida Grande, Helvetica, Arial, sans-serf;
  letter-spacing: 0em;
  color: #333;
}
hr {
  border: none;
  border-top: 3px solid #CCC;
  margin: 1.5em 0 0.5em;
}
br {
  width: 100%;
  clear: both;
  height: 1px;
  margin-top: -1px;
}
/* Basic Layout Elements */
.main {
  margin-bottom: 2em;
}
.main img {
  max-width: 475px;
}

/* Header */
.header {
  padding: 0.3em 2em 0;
	margin-bottom: 1em;
	height: 3em;
	color: #FFF;
}
.header h1 {
  font-family: Lucida Grande, Helvetica, Arial, sans-serf;
  font-size: 1.5em;
  font-weight: normal;
	color: #FFF;
	margin: 0;
	padding: 8px 0 0;
	float: left;
}
.header a {
  color: #FFF;
}
.globalNav {
  float: right;
  margin: 0;
}
.globalNav li {
  float: left;
  margin: 0.5em 0 0;
  padding: 0.25em 0;
}

/* Footer */
.footer {
  clear: both;
}

/* Type Styles */
h1, h2, h3, h4 {
  color: #333;
  letter-spacing: 0px;
  line-height: 1.2em;
  font-weight: normal;
}
h1 {
  margin-top: 0.7em;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  margin: 0.7em 0 0;
}
h3 {
  font: 1.2em Lucida Grande, Verdana, sans-serif;
	padding-top: 1.5em;
}
h4 {
  font-family: Lucida Grande, Verdana, sans-serif;
  font-size: 1em;
  color: #666;
  margin: 1em 0 0 0;
}
ul, dl, dd {
	margin: 0 0 1em;
}
ul li {
  list-style: none;
}
p {
	padding-left: 0;
}
p, address {
	font-style: normal;
}
abbr, acronym {
  text-decoration: none;
}
abbr:hover, acronym:hover {
  border-bottom: 1px dotted #CCC;
}
blockquote {
  margin: 1em 0 0.5em;
}
cite {
  font-size: 0.9em;
  font-style: normal;
  color: #666;
  display: block;
  margin: 0.5em 0 1.5em;
  padding: 0 1em 1.5em;
  border-bottom: 1px solid #DEDEDE;
}

/* Form Styles */
fieldset {
	border: none;
	padding: 0.5em 0 1.5em;
	margin-bottom: 0.5em;
  border-bottom: 1px solid #DEDEDE;
}
form h3 {
  margin: 1.5em 0 0.2em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid #DEDEDE;
}
textarea, input, select, label, button, optgroup {
	font-size: 1em;
}
optgroup {
  background: none;
  border-top: 1px solid #DDD;
  font-style:normal;
  padding-top: 10px;
  color: #999;
  text-transform: uppercase;
}
option {
  text-transform: none;
}
label {
  margin-top: 10px;
  clear: both;
  display: block;
  width: auto; 
  float: none;
}
input[type="checkbox"] {
  margin: 13px 0 0;
}
input[type="submit"] {
  margin-top: 30px;
}
input[type="submit"], button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input[type="submit"]:hover, button:hover {
  cursor: pointer;
}
input[value="Save"], input[value="Delete this user"], #recommendation_submit {
}
input#next {
  margin: 0;
}
textarea, input[type="text"], input[type="password"] {
	color: #333;
  padding: 3px 1px;
  border: 1px solid #BDBDBD;
  width: 20em;
}
input.number {
  width: 5em;
}
textarea {
  font-family: Lucida Grande, Helvetica, Arial, sans-serf;
  width: 500px;
  height: 100px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	color: #000;
  padding: 2px 0px;
  border: 2px solid #999;
}
ul label {
  display:inline;
  float: none;
  clear: none;
}
form ul {
  margin-top: 1em;
  margin-bottom: 0;
}
form ul input[type="checkbox"], form ul input[type="radio"] {
  margin: 13px 0.5em 1px 0;
  float: left;
}
form li {
  display: block;
  clear: both;
  margin-bottom: 0.7em;
}
form li label {
  color: #666;
  clear: none;
  float: left;
  width: auto;
}
.testability {
  margin: 0;
  height: 1em;
}
form .testability {
  font-size: 0.8em;
  margin-top: 0;
  
}
form .testability li {
  display: inline-block;
  margin: 0;
}
form .testability li label {
  margin-right: 15px;
  padding: 0;
  border: none;
}
li + li > .service_category {
  margin-top: 50px;
}
form ul ul, form ul ul li {
  margin-top: 0;
  margin-bottom: 0;
}

form br {
  margin: -1em 0;
}
input + h3, select + h3, textarea + h3, form br + h3, form ul + h3 {
  margin-top: 3em;
}
/* Login form */
form[action="/session"] label {
  width: 7em;
}
form[action="/session"] ul {
  height: 3em;
  margin: 0;
}
form[action="/session"] ul label {
  width: auto;
}
form[action="/session"] input[type="submit"] {
  clear: left;
  margin-top: 0;
}

/* Wide Forms and Single Line Forms */
.wideForm {
  text-align: center;
  padding-bottom: 1.5em;
}
.edit_recommendation, .edit_recommendation div {
  display: inline;
}
form.edit_recommendation input[type="submit"]#recommendation_submit {
  margin-left: 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  -moz-border-radius-top: 6px;
  -webkit-border-radius-top: 6px;
}
th, table td {
  line-height: 1.2em;
}
tr.even {
  background: url(/images/sprite-layout.png) repeat-x 0 -235px;
}

/* Table Layout Styles */
table.layout {
  font-size: 1em;
  border-top: 1px solid #CCC;
  margin: 2em -20px;
  width: 860px;
  clear: both;
}
table.layout tr {
  height: auto;
}
table.layout td, table.layout th {
  padding: 2em 20px 0;
  border: none;
  vertical-align: top;
  height: auto;
}
table.layout tr:hover {
  background: none;
}
.threeColumn .column {
  width: 246px;
}
/* Modules & Other Reusable Elements */
.block20 {
	margin-top: 1em;
	width: 20em;
	float: left;
}
.clear {
	width: 100%;
  clear: both;
}
.disabled {
  color: #999;
}
.disabled:hover {
  cursor: default;
}
.button {
  background: #EBECEE;
  padding: 4px 15px;
  border: 1px solid #BCBCBC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
}
/* Alignment */
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.aligncenter {
  text-align: center;
  margin: inherit auto;
}
/* System Messages */
div.flash, .errorExplanation, .error, .notice { 
  padding: 0.5em 1em;
  margin: 2em 0 1em;
}
div.error, .errorExplanation { 
	background-color: #FEE;
}
div.flash ul, .errorExplanation ul, .error ul, .notice ul { 
  margin-left: 0;
}
.errorExplanation * {
	color: #A00;
}
.errorExplanation h2 {
  text-align: left;
	font-size: 1.4em;
	font-weight: bold;
}
.errorExplanation p {
	padding-bottom: 0.5em;
	margin-left: 0;
}
.errorExplanation ul, form .errorExplanation ul {
	margin-bottom: 0;
	margin-left: 0;
}
.errorExplanation li, form .errorExplanation li {
  display: list-item;
	list-style: outside square;
	margin-left: 2em;
}
.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"], .fieldWithErrors textarea {
	border-color: #A00;
}
.fieldWithErrors label {
	color: #A00;
	font-weight: bold;
}
.fieldWithErrors label:before {
	content: "* ";
}
div.notice {
  background-color: #E0F5CC;
}
.over-limit { color: #CC0000; }
#recaptcha_widget_div {
  margin: 1.5em 0 0.5em 0;
}
#recaptcha_widget_div table {
  width: auto;
  display: table;
}
table.recaptchatable {
  border: none !important;
}

/* Complex Layout */
.halfColumn {
  width: 48%;
  margin-right: 2%;
  float: left;
  padding-bottom: 40px;
}