.column {
  width: 44%;
}
.clear {
  height: 1px;
  overflow: hidden;
}
.welcome {
  margin-top: 10px;
}
.wizard {
  white-space: nowrap;
}
.wizard li {
  text-align: left;
  width: 180px;
  float: left;
}
hr {
  clear: both;
}
.provider.search h4 {
}
.provider.search ul li {
  float: left;
  display: block;
  clear: none;
}
.provider.search ul {
  margin-top: 0;
}
.provider.search ul li li {
  float: none;
  clear: both;
}