<div class="pageHead">
  <h2><%= t('code_samples') %></h2>

  <ul>
    <li class="done"><%= t('upload_your_code') %></li>
    <li class="active"><%= t('review_your_code') %></li>
    <li><%= t('test_your_code') %></li>
  </ul>
</div>