<h2><%= t('company_profile.users.edit_headline', :user => @user.email) %></h2>

<p class="description"><%= t('company_profile.users.edit_description') %></p>

<%= render :partial => 'my/users/form' %>
