<h2><%= @user.name %></h2>

<%- if logged_in? and current_user.can_edit?(@user) -%>
<ul>
  <li><%= link_to(t('user.edit'), edit_my_user_path(@user)) %></li>
</ul>
<%- end -%>

<p><%= @user.name %> <%= mail_to @user.email %></p>