development:
  # Mysql Settings
  adapter: mysql
  encoding: utf8
  database: freelancers_development
  username: root
  password:
  pool: 5
  
test: &TEST
  # Mysql Settings
  adapter: mysql
  encoding: utf8
  database: freelancers_test
  username: root
  password:
  pool: 5
  
staging:
  # Mysql Settings
  adapter: mysql
  encoding: utf8
  database: freelancers_staging
  username: root
  password:
  pool: 5
  
production:
  # Mysql Settings
  encoding: utf8
  adapter: mysql
  database: freelancers_production
  username: root
  password:
  pool: 5

cucumber:
  <<: *TEST
