email_address: "example@example.com"
email_name: "Example Directory"

smtp_address: "example.com"
smtp_domain: "example.com"
smtp_port: '25'
smtp_username: "example@example.com"
smtp_password: "example"

tracking_code: |
  <!-- Sample Tracking Code -->