email_address: "example@example.com"
email_name: "Example Directory"

smtp_address: "example.com"
smtp_domain: "example.com"
smtp_port: '25'
smtp_user_name: "example@example.com"
smtp_password: "example"

shooter_api_key: "shooterapi.com api key"

tracking_code: |
  <!-- Sample Tracking Code -->