<h2><%= t('portfolio_item.edit_on', :provider => @portfolio_item.provider.company_name)%></h2>

<%= render :partial => 'admin/portfolio_items/form' %>

<p>
  <% form_for [:admin, @portfolio_item], :html => {:method => :delete} do |f| -%>
    <%= f.submit t('portfolio_item.delete'), :class => "confirm" %>
  <% end -%>
</p>